* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "LobsterTwo-Regular";
  src: url("../Fonts/LobsterTwo-Regular.ttf");
}

:root {
  --background-color: #9ab9ac;
  --background-color-two: #a87350;
  --text-color-ligth: #ffffff;
  --text-color-dark: #000000;
  --logo-color: #efbd50;
  --border-radius: 0.6rem;
}

body {
  background-color: var(--background-color);
  width: 100%;
  font-family: LobsterTwo-regular;
  font-size: 4vw;
  margin: 0 auto;
}

/* 
  __  __       _       
 |  \/  | __ _(_)_ __  
 | |\/| |/ _` | | '_ \ 
 | |  | | (_| | | | | |
 |_|  |_|\__,_|_|_| |_|
                       
 */

nav ul {
  background-color: #8db0a2;
  border-radius: 0 0 0.6rem 0.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 15vh;
}

nav a {
  color: var(--text-color-ligth);
  text-decoration-line: none;
}

.intro img {
  background-color: var(--background-color);
  width: 80%;
  margin-left: 10%;
  padding-top: 10px;
}

.pictures {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
}

#creampot {
  width: 25%;
}

#creamtube {
  width: 25%;
}

.intro h2 {
  color: var(--text-color-ligth);
  margin: 0 auto;
  text-align: center;
  margin: 1rem;
}

.intro p {
  color: var(--text-color-ligth);
  text-align: center;
  padding: 0.5rem;
}

.intro h1 {
  width: 100%;
  text-align: center;
}

.story {
  background-image: url(/assets/mountains.svg);
  background-size: cover;
  background-color: #e1dbcd;
  border-radius: var(--border-radius);
  padding: 3rem;
  margin: 1rem;
  animation-name: translate;
  animation-duration: 1s;
}

.story p,
.inspiration p {
  color: rgb(0, 0, 0);
  padding-top: 10%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  animation-name: tekst;
  animation-duration: 2s;
}

.inspiration {
  background-color: var(--background-color-two);
  border-radius: var(--border-radius);
  padding: 3rem;
  margin: 1rem;
  animation-name: translate;
  animation-duration: 1s;
}

.inspiration h1,
.inspiration p {
  color: var(--text-color-ligth);
}

fieldset {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
}

@keyframes translate {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes tekst {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0%);
  }
}
