* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "LobsterTwo-Italic";
  src: url("../Fonts/LobsterTwo-Italic.ttf");
}

:root {
  --background-color: #9ab9ac;
  --background-color-two: #a87350;
  /* --background-color-div: #8bac9e; */
  --background-color-div: #7b96ab;
  --text-color-ligth: #ffffff;
  --text-color-dark: #000000;
  --logo-color: #efbd50;
  --border-radius: 0.6rem;
}

body {
  background-color: var(--background-color);
  width: 100%;
  font-family: LobsterTwo-regular;
  font-size: 4vw;
  margin: 0 auto;
}

/* 
  __  __       _       
 |  \/  | __ _(_)_ __  
 | |\/| |/ _` | | '_ \ 
 | |  | | (_| | | | | |
 |_|  |_|\__,_|_|_| |_|
                       
 */

nav {
  border: var(--text-color-ligth) solid;
  border-width: 1px;
  border-radius: 0 0 0.6rem 0.6rem;
}

nav ul {
  background-color: var(--background-color-div);
  border-radius: 0 0 0.6rem 0.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 15vh;
}

nav a:hover {
  color: #d1cfcf;
}

nav a {
  color: var(--text-color-ligth);
  text-decoration-line: none;
}

.logoimg img {
  background-color: var(--background-color-div);
  background-image: url("../assets/lotionpicture.jpg");
  background-size: cover;
  background-position: center;
  border-radius: var(--border-radius);
  padding: 1rem;
}

#creampot {
  width: 25%;
}

#creamtube {
  width: 25%;
}

.intro {
  background-color: var(--background-color-div);
  border-radius: 5px;
  scroll-snap-type: y mandatory;
  padding-bottom: 2rem;
}

.intro h2 {
  color: var(--text-color-ligth);
  margin: 0 auto;
  text-align: center;
  margin: 1rem;
}

.intro p {
  color: var(--text-color-ligth);
  text-align: center;
  padding: 0.5rem;
}

.intro h1 {
  width: 100%;
  text-align: center;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 20vh;
  margin-top: 5rem;
}

.tube {
  background-image: url("../assets/lotionpot.png");
  background-size: cover;
  background-position: center;
  border-radius: var(--border-radius);
  background-color: #5e0d0d;
  width: 80%;
  text-align: center;
  padding: 1rem;
  position: relative;
  z-index: 1;
}

.tube h3 {
  color: white;
}

.tube:hover {
  background-color: #5e0d0d;
  opacity: 0.8;
}

.story {
  background-image: url("../assets/mountains.svg");
  background-size: cover;
  background-color: #e1dbcd;
  border-radius: var(--border-radius);
  padding: 3rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
  animation-name: translate;
  animation-duration: 1s;
}

.story p,
.inspiration p {
  color: rgb(0, 0, 0);
  padding-top: 10%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  animation-name: tekst;
  animation-duration: 2s;
}

.inspiration {
  background-color: var(--background-color-two);
  border-radius: var(--border-radius);
  padding: 3rem;
  width: 80%;
  margin: 0 auto;
  margin-top: 150px;
  animation-name: translate;
  animation-duration: 1s;
}

.inspiration h1,
.inspiration p {
  color: var(--text-color-ligth);
}

form {
  margin-top: 100px;
  width: 80%;
  margin-left: 10%;
}

fieldset {
  background-color: #efefef;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  letter-spacing: 1.6;
}

legend {
  font-size: 25px;
}

input {
  border: none;
  border-radius: 0.1rem;
  padding: 0.3rem;
}

textarea {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.pop-up-container {
  visibility: hidden;
  background-color: #000000;
  border-radius: var(--border-radius);
  position: absolute;
  width: 80%;
  height: 110%;
  margin-top: 1rem;
  margin-left: 10%;
  z-index: 10;
  background-image: url(../assets/Mountains-1412683.svg);
  background-size: cover;
}

#toggleMand {
  animation-name: product;
  animation-duration: 2s;
}

.pop-up-container h1 {
  margin-top: 1rem;
  color: rgb(0, 0, 0);
  text-align: center;
}

.pop-up-container p {
  color: #fffdfd;
  width: 250px;
  display: flex;
  margin-left: 10%;
  margin-top: 4rem;
  border: 0.5px solid;
  padding: 2rem;
}

.togglethis {
  visibility: visible;
  animation-name: product;
  animation-duration: 2s;
}

@keyframes translate {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes tekst {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes product {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@media (min-width: 500px) {
  body {
    font-size: 16px;
  }

  .intro {
    max-width: 50%;
    margin: 0 auto;
  }

  nav {
    width: 50%;
    margin: 0 auto;
  }

  .togglethis {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .intro {
    border: none;
  }
}
