* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "LobsterTwo-Italic";
  src: url("../Fonts/LobsterTwo-Italic.ttf");
}

:root {
  --background-color: #9ab9ac;
  --background-color-two: #a87350;
  /* --background-color-div: #8bac9e; */
  /* --background-color-div: #7b96ab; */
  --background-color-div: #efeedd;
  --text-color-ligth: #ffffff;
  --text-color-dark: #000000;
  --logo-color: #efbd50;
  --border-radius: 0.6rem;
}

body {
  width: 100%;
  font-family: LobsterTwo-regular;
  font-size: 4vw;
  margin: 0 auto;
}

/* 
  __  __       _       
 |  \/  | __ _(_)_ __  
 | |\/| |/ _` | | '_ \ 
 | |  | | (_| | | | | |
 |_|  |_|\__,_|_|_| |_|
                       
 */

nav {
  border: var(--text-color-dark) solid;
  border-width: 1px;
  border-radius: 0 0 0.6rem 0.6rem;
}

nav ul {
  background-color: var(--background-color-div);
  border-radius: 0 0 0.6rem 0.6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 15vh;
}

nav a:hover {
  color: #d1cfcf;
}

nav a {
  color: var(--text-color-dark);
  text-decoration-line: none;
}

.logoimg img {
  background-color: var(--background-color-div);
  background-size: cover;
  background-position: center;
  border-radius: var(--border-radius);
  padding: 1.5rem;
  margin-left: 10%;
  margin-top: 0.5rem;
  width: 80%;
}

#creampot {
  width: 25%;
}

#creamtube {
  width: 25%;
}

.intro {
  background-color: var(--background-color-div);
  border-radius: 5px;
  scroll-snap-type: y mandatory;
}

.intro h2 {
  color: #ccb56e;
  margin: 0 auto;
  text-align: center;
  margin: 1rem;
}

.intro p {
  color: var(--text-color-ligth);
  text-align: center;
  padding: 0.5rem;
}

.intro h1 {
  width: 100%;
  text-align: center;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 30vh;
  margin-top: 5rem;
}

.tube {
  background-image: url("../assets/Lamsaproducts.png");
  background-size: cover;
  background-position: center;
  border-radius: var(--border-radius);
  background-color: #5e0d0d;
  width: 100%;
  text-align: center;
  padding: 1rem;
  position: relative;
  z-index: 1;
}

.tube h3 {
  color: white;
}

.tube:hover {
  background-color: #5e0d0d;
  opacity: 0.8;
}

.story {
  background-image: url("../assets/mountains.svg");
  background-size: cover;
  background-color: #e1dbcd;
  border-radius: var(--border-radius);
  padding: 3rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  animation-name: translate;
  animation-duration: 1s;
}

article {
  max-width: 100%;
}

.moretext {
  display: none;
  width: 25rem;
}

.moretext p {
  display: flex;
  justify-content: left;
}

.moretext-toggle {
  display: block;
}

#buttonmore {
  background-color: #e1dbcd;
  margin-top: 2.5rem;
  margin-left: 50%;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  scale: 2;
  transition: 0.5s;
}

#buttonmore:hover {
  scale: 2.5;
  transition: 0.5s;
}

.story p,
.inspiration p {
  color: #2b2529;
  padding-top: 10%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  animation-name: tekst;
  animation-duration: 2s;
  text-align: justify;
}

.inspiration {
  background-color: var(--background-color-two);
  border-radius: var(--border-radius);
  padding: 3rem;
  width: 100%;
  margin: 0 auto;
  margin-top: 150px;
  animation-name: translate;
  animation-duration: 1s;
}

.inspiration h1,
.inspiration p {
  color: var(--text-color-ligth);
}

form {
  margin-top: 100px;
  width: 80%;
  margin-left: 10%;
}

fieldset {
  background-color: #efefef;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  letter-spacing: 1.6;
}

legend {
  font-size: 25px;
}

input {
  border: none;
  border-radius: 0.1rem;
  padding: 0.3rem;
}

textarea {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.pop-up-container {
  visibility: hidden;
  background-color: #dddcca;
  border: #918c8c 2px solid;
  border-radius: var(--border-radius);
  position: absolute;
  width: 100%;
  height: 110%;
  margin-top: 1rem;
  z-index: 10;
}

#toggleMand {
  animation-name: product;
  animation-duration: 2s;
}

.pop-up-container h1 {
  margin-top: 1rem;
  color: rgb(143, 106, 106);
  text-align: center;
}

.pop-up-container p {
  color: #000000;
  width: 80%;
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-top: 4rem;
  border: 0.5px solid;
  padding: 2rem;
}

.togglethis {
  visibility: visible;
  animation-name: product;
  animation-duration: 2s;
}

footer {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: #d2d1c4;
  border-radius: 0.6rem 0.6rem 0 0;
  margin-top: 3rem;
  max-width: 100%;
  height: 20vh;
}

form {
  display: none;
}

/* _  __           __                               
| |/ /___ _   _ / _|_ __ __ _ _ __ ___   ___  ___ 
| ' // _ \ | | | |_| '__/ _` | '_ ` _ \ / _ \/ __|
| . \  __/ |_| |  _| | | (_| | | | | | |  __/\__ \
|_|\_\___|\__, |_| |_|  \__,_|_| |_| |_|\___||___/
          |___/                                    */

@keyframes translate {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes tekst {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes product {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

/* 

  ____                 _                _       _   
 | __ ) _ __ ___  __ _| | ___ __   ___ (_)_ __ | |_ 
 |  _ \| '__/ _ \/ _` | |/ / '_ \ / _ \| | '_ \| __|
 | |_) | | |  __/ (_| |   <| |_) | (_) | | | | | |_ 
 |____/|_|  \___|\__,_|_|\_\ .__/ \___/|_|_| |_|\__|
                           |_|                      
 */

@media (min-width: 500px) {
  body {
    font-size: 16px;
  }

  .intro {
    max-width: 100%;
    margin: 0 auto;
  }

  .logoimg {
    width: 20rem;
    margin: 0 auto;
  }

  nav {
    width: 100%;
    margin: 0 auto;
  }

  nav ul {
    height: 5rem;
  }

  .tube {
    width: 15rem;
  }

  .togglethis {
    width: 50%;
    margin: 0 auto;
  }

  .pop-up-container {
    width: 60%;
    margin-left: 20%;
  }

  .story {
    width: 60%;
  }

  .inspiration {
    width: 60%;
  }

  .products {
    width: 60%;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .intro {
    border: none;
  }
}
